/* Trello css */
.container {
  padding-bottom: 20px;
  /* border-bottom: 1px solid #e3e6eb; */
}
.tickets {
  width: 100%;
  padding: 13px 0 13px;
}
.tkts {
  width: 80%;
}
.tkstate {
  color: #000;
  width: 20%;
  display: inline-block;
  padding-right: 10px;
  font: 14px ProximaNovaLtSemiBold;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 12px;
  text-align: right;
}
.dsklinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
/* .open {
  color: #17ca34;
}
.Esc {
  color: #e24b4b;
}
.onhld {
  color: #000;
} */
.tktid {
  font: 15px ProximaNovaLtSemiBold;
  color: #000 !important;
  display: inline-block;
  margin-right: 10px;
}
.tksub {
  color: #000;
  font: 16px ProximaNovaLtSemiBold;
  cursor: pointer;
  display: inline-block;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: -6px;
}
.tkdes {
  color: #333;
  font: 14px ProximaNovaRegular;
  width: 94%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  margin-top: 2px;
}
.tkownr {
  display: inline-block;
  color: #333;
  font: 12px ProximaNovaRegular;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 32%;
}
.tkcont {
  display: inline-block;
  font: 12px ProximaNovaRegular;
  color: #0d83dd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 32%;
}
.tktime {
  color: #888;
  display: inline-block;
  font: 12px ProximaNovaRegular;
}
.dot {
  display: inline-block;
  color: #cacaca;
  margin: 0 5px;
}
.tktsub {
  color: #000;
  font: 15px ProximaNovaRegular;
  cursor: pointer;
  display: inline-block;
  margin-top: 2px;
}

/* icons */
.crtic {
  font-size: 8px !important;
  position: relative;
  top: 2px;
  color: #777;
  display: inline-block;
  vertical-align: 2px;
}
.ovedue {
  font-size: 8px !important;
  position: relative;
  top: 2px;
  display: inline-block;
  vertical-align: 2px;
  color: #777;
}
.paid {
  font-size: 9px;
  display: inline-block;
  vertical-align: 2px;
}

.mreIcn {
  font: 12px ProximaNovalight;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-top: 14px;
}

.tkthd {
  font: 13px ProximaNovaLtSemiBold;
  color: #333;
  text-transform: uppercase;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  width: 50%;
}

.ticketsCountParent {
  display: flex;
  justify-content: center;
}

.ticketsCount {
  padding: 20px;
  background: white;
}

.icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: -4px;
  fill: #888;
  margin-right: 3px
}
.rmove {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

@supports (-ms-ime-align: auto) {
  .icon {
    pointer-events: none;
  }
}

.sandClockIcon {
  height: 8px;
  width: 8px;
  vertical-align: inherit;
}

.deleteIcon {
  height: 11px;
  width: 11px;
}
.port {
  text-transform: uppercase;
  font: 13px ProximaNovaRegular;
  display: inline-block;
  color: #333;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.sprt {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  margin: 0 4px;
}

.tag {
  background-color: #a5acb0;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  float: left;
  margin: 5px 8px 0 0;
  padding: 1px 4px;
}
.atxcount {
  position: absolute;
  font-size: 11px;
  left: 14px;
  top: -4px;
  color: #666;
}
.moretags {
  font-size: 12px;
  display: inline-block;
  margin-top: 6px;
  color: #666;
}
