/* trello */
.tlbl {
  color: #444;
  margin-bottom: 10px;
  font: 14px ProximaNovaRegular;
}
.drpprnt {
  position: relative;
  width: 100%;
}
.trdrp {
  border-radius: 3px;
  padding: 7px 30px 10px 13px !important;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border: 1px solid #aaa;
  outline: none;
  width: 100%;
}
.drpprnt::after {
  content: '';
  /* background: url(images/arr.png) 10px/20px no-repeat; */
  position: absolute;
  top: 0;
  right: 0;
  height: 37px;
  width: 37px;
  transform: rotate(-90deg);
}
.trdrp:focus {
  outline: none;
}
.dpscs {
  margin-top: 13px;
}
.dpscs1 {
  margin-top: 7px;
}
.btnbx {
  padding: 4px 0 7px;
  /* text-align: center; */
  border-top: 1px solid #dddddd;
  margin: 16px auto 0;
  /* width: 80% */
}
.opndsk {
  font-size: 13px;
  cursor: pointer;
  margin-left: 38px;
}
.opndsk a {
  color: #666;
  text-decoration: none;
}
.revoke {
  background: linear-gradient(180deg, #d6dadc 0, #cdd2d4);
  border: none;
  box-shadow: 0 1px 0 #959da1;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 18px 4px 0 0;
  padding: 8px 16px 6px;
  text-align: center;
  border-radius: 3px;
  font: 13px/20px ProximaNovaRegular;
}

.root {
  display: inline-block;
  width: 100%;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background: #ccc;
}
