@font-face {
  font-family: ProximaNovaRegular;
  src: url('../fonts/ProximaNova-Reg-webfont.eot');
  src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Reg-webfont.svg#Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: ProximaNovalight;
  src: url('../fonts/ProximaNova-Light-webfont.eot');
  src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ProximaNova-Light-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Light-webfont.svg#Light') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: ProximaNovaLtSemiBold;
  src: url('../fonts/ProximaNova-Sbold-webfont.eot');
  src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Sbold-webfont.svg#Semibold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
